In [44]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

  jenis-kelamin kelas  nilai   pelajaran  siswa_id
0     perempuan   12C      4     Ekonomi         1
1     laki-laki   12C     11     Biologi         2
2     perempuan   12D     39       Kimia         3
3     perempuan   12D     32  Matematika         4
4     perempuan   12A     22       Kimia         5

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [45]:
# nomor 1
jawaban =df[['nilai','kelas']]
print(jawaban)
#nomor 2
print(jawaban.iloc[4:10])

    nilai kelas
0       4   12C
1      11   12C
2      39   12D
3      32   12D
4      22   12A
5      51   12B
6      19   12C
7       6   12C
8      60   12B
9      43   12B
10      7   12C
11     19   12C
12     66   12D
13      3   12C
14     10   12D
15     16   12B
16     45   12C
17     91   12C
18     72   12A
19     29   12D
   nilai kelas
4     22   12A
5     51   12B
6     19   12C
7      6   12C
8     60   12B
9     43   12B

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [53]:
# nomor 1
print(df.loc[(df['pelajaran'] == 'Ekonomi') | (df['pelajaran'] == 'Fisika')])
#nomor 2
print(df.loc[(df['pelajaran']=='Kimia') &(df['nilai']>50)])

   jenis-kelamin kelas  nilai pelajaran  siswa_id
0      perempuan   12C      4   Ekonomi         1
5      laki-laki   12B     51   Ekonomi         6
8      laki-laki   12B     60   Ekonomi         9
11     perempuan   12C     19   Ekonomi        12
12     laki-laki   12D     66   Ekonomi        13
14     laki-laki   12D     10    Fisika        15
19     perempuan   12D     29    Fisika        20
Empty DataFrame
Columns: [jenis-kelamin, kelas, nilai, pelajaran, siswa_id]
Index: []

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [57]:
# code here
def normalized(x):
    return ((x-x.min())/(x.max()-x.min()))

value =normalized(df.nilai)
print(value)

0     0.011364
1     0.090909
2     0.409091
3     0.329545
4     0.215909
5     0.545455
6     0.181818
7     0.034091
8     0.647727
9     0.454545
10    0.045455
11    0.181818
12    0.715909
13    0.000000
14    0.079545
15    0.147727
16    0.477273
17    1.000000
18    0.784091
19    0.295455
Name: nilai, dtype: float64